<div class="container-fluid my-3">
  <div class="row">
    <div class="col-12">
      <div class="col-12 py-3 mb-3 border rounded">
        <div class="row">
          <div class="col-4">
            <label for="filterproductid">Search</label>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="input-group inventory-filter input-group-sm mb-3">
              <ng-select class="form-control" placeholder="Item ID" [items]="inventory" bindLabel="prodid" [(ngModel)]="selectedItem"
                (change)="onItemSelected()">
              </ng-select>
              <div class="input-group-append">
                <button (click)="returnTwo()" class="btn btn-outline-secondary" type="button">Search</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group inventory-filter input-group-sm mb-3">
              <ng-select class="form-control" placeholder="Item Name" [items]="inventory" bindLabel="prodname" [(ngModel)]="selectedItem"
                (change)="onItemSelected()">
              </ng-select>
              <div class="input-group-append">
                <button (click)="returnTwo()" class="btn btn-outline-secondary" type="button">Search</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group inventory-filter input-group-sm mb-3">
              <ng-select class="form-control" placeholder="Category" [items]="categories" bindLabel="name" [(ngModel)]="selectedCategory"
                multiple="true" >
              </ng-select>
              <div class="input-group-append">
                <button (click)="returnThree()" class="btn btn-outline-secondary" type="button">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
              <label for="filterproductid">Filter Items</label>
            </div>
          </div>
        <div class="row">
          <div class="col-12">
            <div class="btn-group">
              <button type="button" (click)="showAll()" class="btn btn-outline-primary btn-sm" [ngClass]="{'active' : filterClicked === 0}">
                All Items
              </button>
              <button type="button" (click)="filterLowStock()" class="btn btn-outline-warning btn-sm" [ngClass]="{'active' : filterClicked === 1}">
                Low Stock Items
              </button>
              <button type="button" (click)="filterEmptyStock()" class="btn btn-outline-danger btn-sm" [ngClass]="{'active' : filterClicked === 2}">
                Empty Stock Items
              </button>
              <button type="button" (click)="filterWithOffer()" class="btn btn-outline-info btn-sm" [ngClass]="{'active' : filterClicked === 3}">
                With Offer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <app-inventorypagination [data]="inventorySorted"></app-inventorypagination>
    </div>  
  </div>
</div>
